<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.wrw.qianxingsubject.org.dao.AdministratorMapper">
	
		<resultMap type="com.wrw.qianxingsubject.org.entity.Administrator" id="BaseResultMap">
			<id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
			<result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
			<result column="admin_password" property="adminPassword" jdbcType="VARCHAR"/>
			<result column="admin_nicename" property="adminNicename" jdbcType="VARCHAR"/>
			<result column="admin_email" property="adminEmail" jdbcType="VARCHAR"/>
			<result column="admin_registered" property="adminRegistered" jdbcType="TIMESTAMP"/>
			<result column="admin_status" property="adminStatus" jdbcType="INTEGER"/>
			<result column="admin_right" property="adminRight" jdbcType="INTEGER"/>
		</resultMap>
		
		<sql id="Base_Column_List">
			id, admin_name, admin_password, admin_nicename, admin_email, admin_registered, admin_status, admin_right
		</sql>

  		<select id="select" parameterType="com.wrw.qianxingsubject.org.entity.Administrator" resultMap="BaseResultMap">
  			select
		    <include refid="Base_Column_List" />
		    from administrator
		    where ${key} = #{ value }
  		</select>
  		
  		<update id="update">
  			update administrator
  			<set >
		      <if test="userLogin != null" >
		        admin_name = #{adminName,jdbcType=VARCHAR},
		      </if>
		      <if test="userPass != null" >
		        admin_password = #{adminPassword,jdbcType=VARCHAR},
		      </if>
		      <if test="userNicename != null" >
		        admin_nicename = #{adminNicename,jdbcType=VARCHAR},
		      </if>
		      <if test="userEmail != null" >
		        admin_email = #{adminEmail,jdbcType=VARCHAR},
		      </if>
		      <if test="userStatus != null" >
		        admin_status = #{adminStatus,jdbcType=INTEGER},
		      </if>
		      <if test="userRight != null" >
		        admin_right = #{adminRight,jdbcType=INTEGER},
		      </if>
		    </set>
  		</update>
	</mapper>