<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.wrw.qianxingsubject.org.dao.AdministratorMapper">
	
		<resultMap type="com.wrw.qianxingsubject.org.entity.Administrator" id="BaseResultMap">
			<id column="id" property="id" javaType="long" jdbcType="BIGINT"/>
			<result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
			<result column="admin_nicename" property="adminNicename" jdbcType="VARCHAR"/>
			<result column="admin_password" property="adminPassword" jdbcType="VARCHAR"/>
			<result column="admin_email" property="adminEmail" jdbcType="VARCHAR"/>
			<result column="admin_registered" property="adminRegistered" jdbcType="TIMESTAMP"/>
			<result column="admin_status" property="adminStatus" jdbcType="INTEGER"/>
		</resultMap>
		
		<sql id="Base_Column_List">
			id, admin_name, admin_password, admin_nicename, admin_email, admin_registered, admin_status
		</sql>
		
		<!-- 通过名字查询 -->
  		<select id="select" parameterType="com.wrw.qianxingsubject.org.entity.Administrator" resultMap="BaseResultMap">
  			select
		    <include refid="Base_Column_List" />
		    from admin
		    where ${key} = #{ value }
  		</select>
  		
  		<update id="update">
  			update admin
  			<set >
		      <if test="adminName != null" >
		        admin_name = #{adminName,jdbcType=VARCHAR},
		      </if>
		      <if test="adminNicename != null" >
		        admin_nicename = #{adminNicename,jdbcType=VARCHAR},
		      </if>
		      <if test="adminPassword != null" >
		        admin_password = #{adminPassword,jdbcType=VARCHAR},
		      </if>
		      <if test="adminEmail != null" >
		        admin_email = #{adminEmail,jdbcType=VARCHAR},
		      </if>
		      <if test="adminStatus != null" >
		        admin_status = #{adminStatus,jdbcType=INTEGER},
		      </if>
		    </set>
		    where id = #{ id }
  		</update>
  		
  		<!-- 更改密码 -->
  		<update id="updatePassword" parameterType="com.wrw.qianxingsubject.org.dto.AdministratorDTO">
  			update admin 
  			set 
  			admin_password = #{ newPwd, jdbcType=VARCHAR }
		    where id = #{ id }
  		</update>
  		
  		<select id="findAllAdminInfo" resultMap="BaseResultMap">
  			SELECT
	          <include refid="Base_Column_List" />
	      	FROM
	          admin
  		</select>
  		
  		<insert id="insert" parameterType="com.wrw.qianxingsubject.org.dto.AdministratorDTO">
  			insert into admin
		    <trim prefix="(" suffix=")" suffixOverrides="," >
		      <if test="adminName != null" >
		        admin_name,
		      </if>
		      <if test="adminPassword != null" >
		        admin_password,
		      </if>
		      <if test="adminNicename != null" >
		        admin_nicename,
		      </if>
		      <if test="adminEmail != null" >
		        admin_email,
		      </if>
		      <if test="adminRegistered != null" >
		        admin_registered,
		      </if>
		      <if test="adminStatus != null" >
		        admin_status,
		      </if>
		    </trim>
		    <trim prefix="values (" suffix=")" suffixOverrides="," >
		      <if test="adminName != null" >
		        #{adminName,jdbcType=VARCHAR},
		      </if>
		      <if test="adminPassword != null" >
		        #{adminPassword,jdbcType=VARCHAR},
		      </if>
		      <if test="adminNicename != null" >
		        #{adminNicename,jdbcType=VARCHAR},
		      </if>
		      <if test="adminEmail != null" >
		        #{adminEmail,jdbcType=VARCHAR},
		      </if>
		      <if test="adminRegistered != null" >
		        #{adminRegistered,jdbcType=TIMESTAMP},
		      </if>
		      <if test="adminStatus != null" >
		        #{adminStatus,jdbcType=INTEGER},
		      </if>
		    </trim>
  		</insert>
  		
	</mapper>